In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
df=pd.read_csv("database.csv",encoding="utf8")

In [3]:
df.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [4]:
cleandf=df[["Declaration Date","State","Disaster Type"]]
cleandf.head()

  Declaration Date State Disaster Type
0       05/02/1953    GA       Tornado
1       05/15/1953    TX       Tornado
2       05/29/1953    LA         Flood
3       06/02/1953    MI       Tornado
4       06/06/1953    MT         Flood

In [10]:
type(df['Declaration Date'])

pandas.core.series.Series

In [5]:
cleandf["Declaration_Year"]=cleandf["Declaration Date"]

C:\Users\Sean Lei\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
total_value_count=cleandf["State"].count()
total_value_count

46185

In [7]:
for i in range(0,total_value_count):
    cleandf["Declaration_Year"][i]=cleandf["Declaration_Year"][i][-4:]

C:\Users\Sean Lei\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
cleandf.head()

  Declaration Date State Disaster Type Declaration_Year
0       05/02/1953    GA       Tornado             1953
1       05/15/1953    TX       Tornado             1953
2       05/29/1953    LA         Flood             1953
3       06/02/1953    MI       Tornado             1953
4       06/06/1953    MT         Flood             1953

In [13]:
gcleandf=cleandf.groupby(["Declaration_Year","Disaster Type"])
dis_df=gcleandf["Disaster Type"].count()

In [14]:
dis_df.to_csv("disaster_count.csv",index=True,header=True)